@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

/* general rules */
/*h1{
    font-size: 4em;
}
h2{
    font-size: 2.5em;
}*/

.bold-text{
    font-weight: 500;
}
body{
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
header{
    max-width: 1920px;
    margin: auto;
}
main{
    max-width: 1920px;
    margin: auto;
}


/* NAVBAR STYLE */

    #colas-rail-logo{
        height: 55px;
    }

    .main-menu{
        padding: 0px;
        margin: 10px auto;
    }

    /* buttons navbar */

        .main-menu a{
            font-weight: 600;
            color: black;
            font-size: 15px;
        }



/* MAIN */

    
    /* BANNER SAFETY AND SUSTAINABILITY */

        .banner-safety_sustainability{
            background-image: url("../../images/colas_rail_safety_sustainability.jpg");
            background-size: cover;
            height: 25vw;
            max-height: 500px;
            overflow: hidden;
            margin: 20px auto;
        }
        /* this square make the triangle cut in the left side of the safety banner */
        #corner-cut-banner{
            background-color: f18314;
            border: solid 15px white;
            width: 1280px;
            height: 1280px;
            position: relative;
            left: 813px;
            top: 142px;
            float: right;
            transform: rotate(45deg);
        }

        #tittle-safety-and-sustainability{
            background-color: rgba(255,255,255,0.8);
            height: 7vw;
            width: 50vw;
            clip-path: polygon(100% 0, 100% 30%, 90% 100%, 0 100%, 0 0);
            position: relative;
            top: 25px;
            left: 25px;
            display: flex;
            align-items: center;
        }

    #tittle-safety-and-sustainability h1{
        padding-left: 2vw;
    }


    /* PRINCIPLES AND SAFETY SECTION */

        .principles-and-safety-section{
            text-align: center;
            width: 90%;
            margin: 25px auto;
        }
        #taking-care-text-div{
            margin: 25px auto;
            width: 50%;
        }

        #safety-principles{
            background-color: #006495;
        }
        #health-and-well-being{
            background-color: #8a1c27;
        }
        #sustainability-and-environment{
            background-color: #91ad24;
        }
        #quality-assurance{
            background-color: #4b3367;
        }
        #safety-principles-icon{
            background-image: url(../../images/safety-icon.svg);
        }

        #health-and-well-being-icon{
            background-image: url(../../images/health-icon.svg);
        }
        #sustainability-and-environment-icon{
            background-image: url(../../images/sustainability-icon.svg);
        }
        #quality-assurance-icon{
            background-image: url(../../images/quality-icon.svg);
        }

        .svg-icons{
            margin: auto;
            background-repeat: no-repeat;
            width: 50%;
            height: 50%;
            background-size: contain;
            background-position: center;
        }

        div .principles-and-safety-section p,h2{
            margin: 25px auto;
        }

        .squares-with-principles{
            height: 350px;
            margin: 10px auto;
            color: white;
            padding: 25px;
        }
        .squares-with-principles h2{
            font-size: 1.5em;
        }
        .squares-with-principles p{
            font-size: 1.2em;
        }

        .safety-div{
            width: 75%;
            margin: 25px auto;
        }
    
    /* Services Result */
        .result-of-service{
            text-align: center;
            margin: 25px auto;
            width: 75%;
        }

        .div-text-of-result{
            width: 75%;
            margin: 25px auto;
        }

    /* Horizontal line */
        
        main hr{
            border-width: 10px;
            color: #f18314;
            opacity: 1;
            width: 85%;
            margin: 25px auto;
        }
    
    /* Articles */
        .articles-of-service{
            width: 75%;
            margin: 25px auto;
        }
        .articles-of-service img{
            width: 100%;
        }

        .articles-of-service article{
            background-color: #f7f3f4;
        }
        .articles-of-service article div{
            padding: 15px;
        }
/* FOOTER */

        /*Contact section*/
        footer{
            text-align: center;
        }
        #button-contact-us{
            text-decoration: none;
            color: black;
            display: flex;
            width: 200px;
            height: 50px;
            background-color: rgba(255,255,255,0.8);
            margin: auto;
        }

        #button-contact-us p{
            margin: auto;
        }

        #button-contact-us span,i{
            margin: auto 5px;
        }
        .contact-us{
            background-color: #f18314;
            height: 350px;
        }


/* MEDIA QUERIES */

    /* navbar */
        @media screen and (min-width: 992px){
            #navbarNavDropdown{
                position: absolute;
                right: 0px;
            }
        }

    /* Font size for tittle-safety-and-sustainability h1 */

        @media screen and (min-width: 576px) {
            #tittle-safety-and-sustainability {
                top: 45px;
                left: 45px;
                width: 450px;
                height: 70px;
            }
            #tittle-safety-and-sustainability h1{
                font-size: 30px;
            }
        }

        @media screen and (min-width: 768px) {
            #tittle-safety-and-sustainability {
                top: 45px;
                left: 45px;
                width: 450px;
                height: 70px;
            }
            #tittle-safety-and-sustainability h1{
                font-size: 30px;
            }
        }
        @media screen and (min-width: 992px) {
            #tittle-safety-and-sustainability {
                top: 75px;
                left: 100px;
                width: 550px;
                height: 90px;
            }
            #tittle-safety-and-sustainability h1{
                font-size: 35px;
            }
        }
        @media screen and (min-width: 1200px) {
            #tittle-safety-and-sustainability {
                top: 75px;
                left: 100px;
                width: 650px;
                height: 110px;
            }
            #tittle-safety-and-sustainability h1{
                font-size: 47px;
            }
        }
        @media screen and (min-width: 1400px) {
            #tittle-safety-and-sustainability {
                top: 90px;
                left: 110px;
                width: 800px;
                height: 135px;
            }
            #tittle-safety-and-sustainability h1{
                font-size: 50px;
            }
        }
        @media screen and (min-width: 1900px) {
    
            #tittle-safety-and-sustainability {
                top: 110px;
                left: 115px;
                width: 875px;
                height: 135px;
            }
            #tittle-safety-and-sustainability h1{
                font-size: 55px;
            }
        }



